/************************ Reset ******************************/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(/js/boxsizing.htc); }

@-ms-viewport { width: device-width; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; font-size: 16px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.clear { clear: both; }

.container { *zoom: 1; max-width: 61em; width: 100%; _width: 61em; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-transition: 0.25s all ease-in-out; -moz-transition: 0.25s all ease-in-out; -o-transition: 0.25s all ease-in-out; transition: 0.25s all ease-in-out; }
.container:after { content: ""; display: table; clear: both; }

@media screen and (max-width: 48em) { .container { *zoom: 1; max-width: 43em; width: 100%; _width: 43em; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-transition: 0.25s all ease-in-out; -moz-transition: 0.25s all ease-in-out; -o-transition: 0.25s all ease-in-out; transition: 0.25s all ease-in-out; }
  .container:after { content: ""; display: table; clear: both; } }
@media screen and (max-width: 30em) { .container { *zoom: 1; max-width: 37em; width: 100%; _width: 37em; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em; -webkit-transition: 0.25s all ease-in-out; -moz-transition: 0.25s all ease-in-out; -o-transition: 0.25s all ease-in-out; transition: 0.25s all ease-in-out; }
  .container:after { content: ""; display: table; clear: both; } }
/************************ Typography *************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { direction: ltr; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.6; }

p { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 0.875em; line-height: 1.6; margin: 0 0 10px; }
p .lead { font-size: 1.09375em; line-height: 1.6; margin-bottom: 17px; }
p.note { color: #999999; font-style: italic; font-size: 80%; }

small { font-size: 60%; }

aside p { font-size: 0.8125em; line-height: 1.35; font-style: italic; }

.tiny { font-size: 60%; }

.small { font-size: 80%; }

.normal { font-size: 100%; }

.large { font-size: 120%; }

.x-large { font-size: 140%; }

p a { line-height: inherit; }
p a:visited { line-height: inherit; }

.center, .centered { text-align: center; }

.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }

a { color: #5087CA; line-height: inherit; }
a:link { text-decoration: none; }
a:hover { color: #366db1; text-decoration: underline; }
a:focus { outline: none; }

h1 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 2.42705em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h1 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h2 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 2.02254em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h2 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h3 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 1.61803em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h3 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h4 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 1.21353em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h4 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h5 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 0.80902em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h5 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 0.40451em; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 0.5em; padding: 0; vertical-align: top; }
h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

strong { font-weight: bolder; }

blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; color: #6f6f6f; font-style: italic; }
blockquote p { color: #6f6f6f; font-style: italic; }
blockquote cite { display: block; font-size: 0.8125em; color: #e4e4e4; }
blockquote cite a { color: #e4e4e4; }
blockquote cite a:visited { color: #e4e4e4; }

abbr { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; text-transform: none; }
abbr acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }

sub { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; bottom: -0.25em; }

sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; top: -0.5em; }

hr { clear: both; margin: 22px 0 21px; height: 0; border: solid #ddd; border-width: 1px 0 0; }

ol { font-size: 0.875em; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }

ul { font-size: 0.875em; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; margin-left: 0px; margin-bottom: 0; }
ul li ul, ul li ol { margin-left: 0px; margin-bottom: 0; }
ul.hiragana { list-style-type: hiragana; }
ul.hiragana li ul { list-style-type: inherit; }
ul.square { list-style-type: square; }
ul.square li ul { list-style-type: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style-type: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style-type: inherit; }
ul.no-bullet { list-style-type: none; }
ul.large li { line-height: 1.3125em; }

ol li ul, ol li ol { margin-left: 0px; margin-bottom: 0; }

/************************ Icons ******************************/
/*  Font Awesome the iconic font designed for use with Twitter Bootstrap ------------------------------------------------------- The full suite of pictographic icons, examples, and documentation can be found at: http://fortawesome.github.com/Font-Awesome/
 License ------------------------------------------------------- The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0: http://creativecommons.org/licenses/by/3.0/ A mention of 'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable source code is considered acceptable attribution (most common on the web). If human readable source code is not available to the end user, a mention in an 'About' or 'Credits' screen is considered acceptable (most common in desktop or mobile software).
 Contact ------------------------------------------------------- Email: dave@davegandy.com Twitter: http://twitter.com/fortaweso_me Work: Lead Product Designer @ http://kyruus.com
 */
@font-face { font-family: "FontAwesome"; src: url("../fonts/fontawesome-webfont.eot"); src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("ttf"), url("../fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg"); font-style: normal; font-weight: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before, .caret:before { font-family: "FontAwesome"; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; }

a [class^="icon-"], a [class*=" icon-"] { display: inline-block; text-decoration: inherit; }

.icon-large:before { vertical-align: middle; font-size: 4/3em; }

.button [class^="icon-"], .button [class*=" icon-"], .nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"] { line-height: .9em; }

li [class^="icon-"], li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }
li .icon-large:before, li .icon-large:before { width: 1.875em; }

ul.icons { list-style-type: none; margin-left: 2em; text-indent: -0.8em; }
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width: .8em; }
ul.icons li .icon-large:before, ul.icons li .icon-large:before { vertical-align: initial; }

.icon-glass:before { content: "\f000"; }

.icon-music:before { content: "\f001"; }

.icon-search:before { content: "\f002"; }

.icon-envelope:before { content: "\f003"; }

.icon-heart:before { content: "\f004"; }

.icon-star:before { content: "\f005"; }

.icon-star-empty:before { content: "\f006"; }

.icon-user:before { content: "\f007"; }

.icon-film:before { content: "\f008"; }

.icon-th-large:before { content: "\f009"; }

.icon-th:before { content: "\f00a"; }

.icon-th-list:before { content: "\f00b"; }

.icon-ok:before { content: "\f00c"; }

.icon-remove:before { content: "\f00d"; }

.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }

.icon-off:before { content: "\f011"; }

.icon-signal:before { content: "\f012"; }

.icon-cog:before { content: "\f013"; }

.icon-trash:before { content: "\f014"; }

.icon-home:before { content: "\f015"; }

.icon-file:before { content: "\f016"; }

.icon-time:before { content: "\f017"; }

.icon-road:before { content: "\f018"; }

.icon-download-alt:before { content: "\f019"; }

.icon-download:before { content: "\f01a"; }

.icon-upload:before { content: "\f01b"; }

.icon-inbox:before { content: "\f01c"; }

.icon-play-circle:before { content: "\f01d"; }

.icon-repeat:before { content: "\f01e"; }

.icon-refresh:before { content: "\f021"; }

.icon-list-alt:before { content: "\f022"; }

.icon-lock:before { content: "\f023"; }

.icon-flag:before { content: "\f024"; }

.icon-headphones:before { content: "\f025"; }

.icon-volume-off:before { content: "\f026"; }

.icon-volume-down:before { content: "\f027"; }

.icon-volume-up:before { content: "\f028"; }

.icon-qrcode:before { content: "\f029"; }

.icon-barcode:before { content: "\f02a"; }

.icon-tag:before { content: "\f02b"; }

.icon-tags:before { content: "\f02c"; }

.icon-book:before { content: "\f02d"; }

.icon-bookmark:before { content: "\f02e"; }

.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }

.icon-font:before { content: "\f031"; }

.icon-bold:before { content: "\f032"; }

.icon-italic:before { content: "\f033"; }

.icon-text-height:before { content: "\f034"; }

.icon-text-width:before { content: "\f035"; }

.icon-align-left:before { content: "\f036"; }

.icon-align-center:before { content: "\f037"; }

.icon-align-right:before { content: "\f038"; }

.icon-align-justify:before { content: "\f039"; }

.icon-list:before { content: "\f03a"; }

.icon-indent-left:before { content: "\f03b"; }

.icon-indent-right:before { content: "\f03c"; }

.icon-facetime-video:before { content: "\f03d"; }

.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }

.icon-map-marker:before { content: "\f041"; }

.icon-adjust:before { content: "\f042"; }

.icon-tint:before { content: "\f043"; }

.icon-edit:before { content: "\f044"; }

.icon-share:before { content: "\f045"; }

.icon-check:before { content: "\f046"; }

.icon-move:before { content: "\f047"; }

.icon-step-backward:before { content: "\f048"; }

.icon-fast-backward:before { content: "\f049"; }

.icon-backward:before { content: "\f04a"; }

.icon-play:before { content: "\f04b"; }

.icon-pause:before { content: "\f04c"; }

.icon-stop:before { content: "\f04d"; }

.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }

.icon-step-forward:before { content: "\f051"; }

.icon-eject:before { content: "\f052"; }

.icon-chevron-left:before { content: "\f053"; }

.icon-chevron-right:before { content: "\f054"; }

.icon-plus-sign:before { content: "\f055"; }

.icon-minus-sign:before { content: "\f056"; }

.icon-remove-sign:before { content: "\f057"; }

.icon-ok-sign:before { content: "\f058"; }

.icon-question-sign:before { content: "\f059"; }

.icon-info-sign:before { content: "\f05a"; }

.icon-screenshot:before { content: "\f05b"; }

.icon-remove-circle:before { content: "\f05c"; }

.icon-ok-circle:before { content: "\f05d"; }

.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }

.icon-arrow-right:before { content: "\f061"; }

.icon-arrow-up:before { content: "\f062"; }

.icon-arrow-down:before { content: "\f063"; }

.icon-share-alt:before { content: "\f064"; }

.icon-resize-full:before { content: "\f065"; }

.icon-resize-small:before { content: "\f066"; }

.icon-plus:before { content: "\f067"; }

.icon-minus:before { content: "\f068"; }

.icon-asterisk:before { content: "\f069"; }

.icon-exclamation-sign:before { content: "\f06a"; }

.icon-gift:before { content: "\f06b"; }

.icon-leaf:before { content: "\f06c"; }

.icon-fire:before { content: "\f06d"; }

.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }

.icon-warning-sign:before { content: "\f071"; }

.icon-plane:before { content: "\f072"; }

.icon-calendar:before { content: "\f073"; }

.icon-random:before { content: "\f074"; }

.icon-comment:before { content: "\f075"; }

.icon-magnet:before { content: "\f076"; }

.icon-chevron-up:before { content: "\f077"; }

.icon-chevron-down:before { content: "\f078"; }

.icon-retweet:before { content: "\f079"; }

.icon-shopping-cart:before { content: "\f07a"; }

.icon-folder-close:before { content: "\f07b"; }

.icon-folder-open:before { content: "\f07c"; }

.icon-resize-vertical:before { content: "\f07d"; }

.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }

.icon-twitter-sign:before { content: "\f081"; }

.icon-facebook-sign:before { content: "\f082"; }

.icon-camera-retro:before { content: "\f083"; }

.icon-key:before { content: "\f084"; }

.icon-cogs:before { content: "\f085"; }

.icon-comments:before { content: "\f086"; }

.icon-thumbs-up:before { content: "\f087"; }

.icon-thumbs-down:before { content: "\f088"; }

.icon-star-half:before { content: "\f089"; }

.icon-heart-empty:before { content: "\f08a"; }

.icon-signout:before { content: "\f08b"; }

.icon-linkedin-sign:before { content: "\f08c"; }

.icon-pushpin:before { content: "\f08d"; }

.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }

.icon-trophy:before { content: "\f091"; }

.icon-github-sign:before { content: "\f092"; }

.icon-upload-alt:before { content: "\f093"; }

.icon-lemon:before { content: "\f094"; }

.icon-phone:before { content: "\f095"; }

.icon-check-empty:before { content: "\f096"; }

.icon-bookmark-empty:before { content: "\f097"; }

.icon-phone-sign:before { content: "\f098"; }

.icon-twitter:before { content: "\f099"; }

.icon-facebook:before { content: "\f09a"; }

.icon-github:before { content: "\f09b"; }

.icon-unlock:before { content: "\f09c"; }

.icon-credit-card:before { content: "\f09d"; }

.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }

.icon-bullhorn:before { content: "\f0a1"; }

.icon-bell:before { content: "\f0a2"; }

.icon-certificate:before { content: "\f0a3"; }

.icon-hand-right:before { content: "\f0a4"; }

.icon-hand-left:before { content: "\f0a5"; }

.icon-hand-up:before { content: "\f0a6"; }

.icon-hand-down:before { content: "\f0a7"; }

.icon-circle-arrow-left:before { content: "\f0a8"; }

.icon-circle-arrow-right:before { content: "\f0a9"; }

.icon-circle-arrow-up:before { content: "\f0aa"; }

.icon-circle-arrow-down:before { content: "\f0ab"; }

.icon-globe:before { content: "\f0ac"; }

.icon-wrench:before { content: "\f0ad"; }

.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }

.icon-briefcase:before { content: "\f0b1"; }

.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }

.icon-link:before { content: "\f0c1"; }

.icon-cloud:before { content: "\f0c2"; }

.icon-beaker:before { content: "\f0c3"; }

.icon-cut:before { content: "\f0c4"; }

.icon-copy:before { content: "\f0c5"; }

.icon-paper-clip:before { content: "\f0c6"; }

.icon-save:before { content: "\f0c7"; }

.icon-sign-blank:before { content: "\f0c8"; }

.icon-reorder:before { content: "\f0c9"; }

.icon-list-ul:before { content: "\f0ca"; }

.icon-list-ol:before { content: "\f0cb"; }

.icon-strikethrough:before { content: "\f0cc"; }

.icon-underline:before { content: "\f0cd"; }

.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }

.icon-truck:before { content: "\f0d1"; }

.icon-pinterest:before { content: "\f0d2"; }

.icon-pinterest-sign:before { content: "\f0d3"; }

.icon-google-plus-sign:before { content: "\f0d4"; }

.icon-google-plus:before { content: "\f0d5"; }

.icon-money:before { content: "\f0d6"; }

.icon-caret-down:before { content: "\f0d7"; }

.icon-caret-up:before { content: "\f0d8"; }

.icon-caret-left:before { content: "\f0d9"; }

.icon-caret-right:before { content: "\f0da"; }

.icon-columns:before { content: "\f0db"; }

.icon-sort:before { content: "\f0dc"; }

.icon-sort-down:before { content: "\f0dd"; }

.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }

.icon-linkedin:before { content: "\f0e1"; }

.icon-undo:before { content: "\f0e2"; }

.icon-legal:before { content: "\f0e3"; }

.icon-dashboard:before { content: "\f0e4"; }

.icon-comment-alt:before { content: "\f0e5"; }

.icon-comments-alt:before { content: "\f0e6"; }

.icon-bolt:before { content: "\f0e7"; }

.icon-sitemap:before { content: "\f0e8"; }

.icon-umbrella:before { content: "\f0e9"; }

.icon-paste:before { content: "\f0ea"; }

.icon-user-md:before { content: "\f200"; }

.caret:before { content: "\f0d7"; }

/************************ Tables *****************************/
.table thead.head { background: whitesmoke; }
.table thead tr { border-bottom: 1px solid #ddd; }
.table thead tr th { font-weight: 500; border-bottom: 1px solid #ccc; }
.table tbody tr.even { background: #f7f7f7; }
.table tbody tr.odd { background: white; }
.table tbody tr:hover { background: #f2f2f2; }
.table tbody tr td { border-bottom: 1px solid #ccc; }

thead tr td, thead tr th, tbody tr td, tbody tr th, tfoot tr td, tfoot tr th { padding: 10px; }

/************************ Form Styles ************************/
form { margin-bottom: 1em; }

.large input[type=text], .large input[type=password], .large input[type=email], .large input[type=number], .large input[type=date], .large input[type=url], .large textarea, .large input[type=file], .large input[type=tel] { color: #666; border: 1px solid #dcdfe7; border-top-color: #aaadb2; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; width: 100%; max-width: 100%; padding: 9px 6px; }

select { width: 99%; max-width: 100%; }

input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=url], textarea, input[type=file], input[type=tel] { color: #666; outline: none; border: 1px solid #dcdfe7; border-top-color: #aaadb2; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; width: 100%; max-width: 100%; padding: 7px 4px 7px 4px; -webkit-transition-property: border, box-shadow; -moz-transition-property: border, box-shadow; -o-transition-property: border, box-shadow; transition-property: border, box-shadow; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; -webkit-transition-timing-function: ease-in-ease-out; -moz-transition-timing-function: ease-in-ease-out; -o-transition-timing-function: ease-in-ease-out; transition-timing-function: ease-in-ease-out; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=url]:focus, textarea:focus, input[type=file]:focus, input[type=tel]:focus { border: 1px solid #787878; color: #444; -moz-box-shadow: 0 0 3px #787878; -webkit-box-shadow: 0 0 3px #787878; box-shadow: 0 0 3px #787878; }

input[type=file] { border: none; }
input[type=file].small, input[type=file].large { border: none; }

.small input[type=text], .small input[type=password], .small input[type=email], .small input[type=number], .small input[type=date], .small input[type=url], .small textarea, .small input[type=file], .small input[type=tel] { color: #666; border: 1px solid #dcdfe7; border-top-color: #aaadb2; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; width: 100%; max-width: 100%; padding: 4px 1px; }

.input-number input { color: #454545; border: 1px solid #dcdfe7; border-top-color: #aaadb2; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.button { padding: 4px 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; color: #222222; font-size: 0.9375em; background-color: white; border: 1px solid rgba(0, 0, 0, 0.3); -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-decoration: none; }
.button:hover { color: #222222; text-decoration: none; }

.blue-button { color: #f9fafd; background-color: #7096d3; border: 1px solid #284b82; -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); background-color: #3461a9; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4979c7), color-stop(1, #3461a9)); background-image: -webkit-linear-gradient(top, #4979c7, #3461a9); background-image: -moz-linear-gradient(top, #4979c7, #3461a9); background-image: -ms-linear-gradient(top, #4979c7, #3461a9); background-image: -o-linear-gradient(top, #4979c7, #3461a9); background-image: linear-gradient(top, bottom, #4979c7, #3461a9); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.blue-button:hover { color: #f9fafd; background-color: #3868b5; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5582cb), color-stop(1, #3868b5)); background-image: -webkit-linear-gradient(top, #5582cb, #3868b5); background-image: -moz-linear-gradient(top, #5582cb, #3868b5); background-image: -ms-linear-gradient(top, #5582cb, #3868b5); background-image: -o-linear-gradient(top, #5582cb, #3868b5); background-image: linear-gradient(top, bottom, #5582cb, #3868b5); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.black-button { color: #e6e5e8; background-color: #898596; border: 1px solid #3e3c46; -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); background-color: #575461; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #706c7c), color-stop(1, #575461)); background-image: -webkit-linear-gradient(top, #706c7c, #575461); background-image: -moz-linear-gradient(top, #706c7c, #575461); background-image: -ms-linear-gradient(top, #706c7c, #575461); background-image: -o-linear-gradient(top, #706c7c, #575461); background-image: linear-gradient(top, bottom, #706c7c, #575461); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.black-button:hover { color: #e6e5e8; background-color: #5e5b69; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777385), color-stop(1, #5e5b69)); background-image: -webkit-linear-gradient(top, #777385, #5e5b69); background-image: -moz-linear-gradient(top, #777385, #5e5b69); background-image: -ms-linear-gradient(top, #777385, #5e5b69); background-image: -o-linear-gradient(top, #777385, #5e5b69); background-image: linear-gradient(top, bottom, #777385, #5e5b69); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.green-button { color: #f7fbf8; background-color: #7bc591; border: 1px solid #337446; -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); background-color: #43975c; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #58b574), color-stop(1, #43975c)); background-image: -webkit-linear-gradient(top, #58b574, #43975c); background-image: -moz-linear-gradient(top, #58b574, #43975c); background-image: -ms-linear-gradient(top, #58b574, #43975c); background-image: -o-linear-gradient(top, #58b574, #43975c); background-image: linear-gradient(top, bottom, #58b574, #43975c); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.green-button:hover { color: #f7fbf8; background-color: #48a262; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #63ba7d), color-stop(1, #48a262)); background-image: -webkit-linear-gradient(top, #63ba7d, #48a262); background-image: -moz-linear-gradient(top, #63ba7d, #48a262); background-image: -ms-linear-gradient(top, #63ba7d, #48a262); background-image: -o-linear-gradient(top, #63ba7d, #48a262); background-image: linear-gradient(top, bottom, #63ba7d, #48a262); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.red-button { color: #fdf4f4; background-color: #dd6166; -moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); -webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); background-color: #b2262c; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d4373d), color-stop(1, #b2262c)); background-image: -webkit-linear-gradient(top, #d4373d, #b2262c); background-image: -moz-linear-gradient(top, #d4373d, #b2262c); background-image: -ms-linear-gradient(top, #d4373d, #b2262c); background-image: -o-linear-gradient(top, #d4373d, #b2262c); background-image: linear-gradient(top, bottom, #d4373d, #b2262c); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.red-button:hover { color: #fdf4f4; background-color: #bf292f; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d7434a), color-stop(1, #bf292f)); background-image: -webkit-linear-gradient(top, #d7434a, #bf292f); background-image: -moz-linear-gradient(top, #d7434a, #bf292f); background-image: -ms-linear-gradient(top, #d7434a, #bf292f); background-image: -o-linear-gradient(top, #d7434a, #bf292f); background-image: linear-gradient(top, bottom, #d7434a, #bf292f); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }

.disabled { background-image: none; }
.disabled:hover { background-image: none; }

.no-button { background: transparent; border: none; color: inherit; outline: none; -webkit-text-shadow: none; -moz-text-shadow: none; -o-text-shadow: none; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

input:focus + .hint, select:focus + .hint, textarea:focus + .hint { display: inline-block; }

input[type="date"]::-webkit-outer-spin-button, input[type="date"]::-webkit-inner-spin-button { display: none; }

.placeholder { color: #BEBEBE; }

/************************ Grid *******************************/
.row { margin-bottom: 10px; width: 100%; }
.row:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.span-1, .row .span-1 { width: 6.77966%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-1, .row .span-1 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-2, .row .span-2 { width: 15.25424%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-2, .row .span-2 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-3, .row .span-3 { width: 23.72881%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-3, .row .span-3 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-4, .row .span-4 { width: 32.20339%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-4, .row .span-4 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-5, .row .span-5 { width: 40.67797%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-5, .row .span-5 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-6, .row .span-6 { width: 49.15254%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-6, .row .span-6 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-7, .row .span-7 { width: 57.62712%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-7, .row .span-7 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-8, .row .span-8 { width: 66.10169%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-8, .row .span-8 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-9, .row .span-9 { width: 74.57627%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-9, .row .span-9 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-10, .row .span-10 { width: 83.05085%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-10, .row .span-10 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-11, .row .span-11 { width: 91.52542%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-11, .row .span-11 { margin: 5px 0; float: none; display: block; width: 100%; } }

.span-12, .row .span-12 { width: 100%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 48em) { .span-12, .row .span-12 { margin: 5px 0; float: none; display: block; width: 100%; } }

@media screen and (max-width: 48em) { [class|="span"] { float: none; width: 100%; display: block; } }

[class*="span"] { transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; }

@media screen and (max-width: 48em) { .tablet-span-1, .row .tablet-span-1 { width: 14.63415%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-1, .row .tablet-offset-1 { margin-left: 17.07317%; }
  .tablet-span-2, .row .tablet-span-2 { width: 31.70732%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-2, .row .tablet-offset-2 { margin-left: 34.14634%; }
  .tablet-span-3, .row .tablet-span-3 { width: 48.78049%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-3, .row .tablet-offset-3 { margin-left: 51.21951%; }
  .tablet-span-4, .row .tablet-span-4 { width: 65.85366%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-4, .row .tablet-offset-4 { margin-left: 68.29268%; }
  .tablet-span-5, .row .tablet-span-5 { width: 82.92683%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-5, .row .tablet-offset-5 { margin-left: 85.36585%; }
  .tablet-span-6, .row .tablet-span-6 { width: 100%; float: left; margin-left: 2.43902%; display: inline; }
  .tablet-offset-6, .row .tablet-offset-6 { margin-left: 102.43902%; } }
@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-1, .row .tablet-span-1 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-2, .row .tablet-span-2 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-3, .row .tablet-span-3 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-4, .row .tablet-span-4 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-5, .row .tablet-span-5 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-span-6, .row .tablet-span-6 { float: none; display: block; width: 100%; margin: 5px 0; } }

@media screen and (max-width: 30em) { [class|="tablet-span"] { float: none; width: 100%; margin-left: 0; display: block; }
  .mobile-span-1, .row .mobile-span-1 { width: 22.85714%; float: left; margin-left: 2.85714%; display: inline; }
  .mobile-offset-1, .row .mobile-offset-1 { margin-left: 25.71429%; }
  .mobile-span-2, .row .mobile-span-2 { width: 48.57143%; float: left; margin-left: 2.85714%; display: inline; }
  .mobile-offset-2, .row .mobile-offset-2 { margin-left: 51.42857%; }
  .mobile-span-3, .row .mobile-span-3 { width: 74.28571%; float: left; margin-left: 2.85714%; display: inline; }
  .mobile-offset-3, .row .mobile-offset-3 { margin-left: 77.14286%; }
  .mobile-span-4, .row .mobile-span-4 { width: 100%; float: left; margin-left: 2.85714%; display: inline; }
  .mobile-offset-4, .row .mobile-offset-4 { margin-left: 102.85714%; } }
[class*="span"]:first-child { margin-left: 0; #margin-left: -1em; }

.offset-1, .row .offset-1 { margin-left: 8.47458%; }
@media screen and (max-width: 48em) { .offset-1, .row .offset-1 { margin-left: 0; #margin-left: -1em; } }

.offset-2, .row .offset-2 { margin-left: 16.94915%; }
@media screen and (max-width: 48em) { .offset-2, .row .offset-2 { margin-left: 0; #margin-left: -1em; } }

.offset-3, .row .offset-3 { margin-left: 25.42373%; }
@media screen and (max-width: 48em) { .offset-3, .row .offset-3 { margin-left: 0; #margin-left: -1em; } }

.offset-4, .row .offset-4 { margin-left: 33.89831%; }
@media screen and (max-width: 48em) { .offset-4, .row .offset-4 { margin-left: 0; #margin-left: -1em; } }

.offset-5, .row .offset-5 { margin-left: 42.37288%; }
@media screen and (max-width: 48em) { .offset-5, .row .offset-5 { margin-left: 0; #margin-left: -1em; } }

.offset-6, .row .offset-6 { margin-left: 50.84746%; }
@media screen and (max-width: 48em) { .offset-6, .row .offset-6 { margin-left: 0; #margin-left: -1em; } }

.offset-7, .row .offset-7 { margin-left: 59.32203%; }
@media screen and (max-width: 48em) { .offset-7, .row .offset-7 { margin-left: 0; #margin-left: -1em; } }

.offset-8, .row .offset-8 { margin-left: 67.79661%; }
@media screen and (max-width: 48em) { .offset-8, .row .offset-8 { margin-left: 0; #margin-left: -1em; } }

.offset-9, .row .offset-9 { margin-left: 76.27119%; }
@media screen and (max-width: 48em) { .offset-9, .row .offset-9 { margin-left: 0; #margin-left: -1em; } }

.offset-10, .row .offset-10 { margin-left: 84.74576%; }
@media screen and (max-width: 48em) { .offset-10, .row .offset-10 { margin-left: 0; #margin-left: -1em; } }

.offset-11, .row .offset-11 { margin-left: 93.22034%; }
@media screen and (max-width: 48em) { .offset-11, .row .offset-11 { margin-left: 0; #margin-left: -1em; } }

.offset-12, .row .offset-12 { margin-left: 100%; }
@media screen and (max-width: 48em) { .offset-12, .row .offset-12 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) { .tablet-offset-1, .row .tablet-offset-1 { margin-left: 17.07317%; }
  .tablet-offset-2, .row .tablet-offset-2 { margin-left: 34.14634%; }
  .tablet-offset-3, .row .tablet-offset-3 { margin-left: 51.21951%; }
  .tablet-offset-4, .row .tablet-offset-4 { margin-left: 68.29268%; }
  .tablet-offset-5, .row .tablet-offset-5 { margin-left: 85.36585%; }
  .tablet-offset-6, .row .tablet-offset-6 { margin-left: 102.43902%; } }
@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-1, .row .tablet-offset-1 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-2, .row .tablet-offset-2 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-3, .row .tablet-offset-3 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-4, .row .tablet-offset-4 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-5, .row .tablet-offset-5 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 48em) and (max-width: 30em) { .tablet-offset-6, .row .tablet-offset-6 { margin-left: 0; #margin-left: -1em; } }

@media screen and (max-width: 30em) { .mobile-offset-1, .row .mobile-offset-1 { margin-left: 25.71429%; }
  .mobile-offset-2, .row .mobile-offset-2 { margin-left: 51.42857%; }
  .mobile-offset-3, .row .mobile-offset-3 { margin-left: 77.14286%; }
  .mobile-offset-4, .row .mobile-offset-4 { margin-left: 102.85714%; } }
/************************ Navigation *************************/
nav { font-size: 1.05172em; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; display: block; min-height: 44px; }
nav ul { margin-top: 0; margin-bottom: 0; padding: 0; }
nav ul li { display: block; float: left; position: relative; padding: 10px 15px; margin: 0px; background: inherit; }
nav ul li ul { display: none; }
nav:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

@media screen and (max-width: 48em) { .nav ul { padding: 0px; }
  .nav ul li, .nav ul li a { float: none; width: 100%; display: block; margin: 0; } }
.sub-nav { font-size: 80%; }

.nav-button, .nav-button-slider { display: none; position: relative; text-decoration: none; color: #222222; z-index: 2000; }
.nav-button:hover, .nav-button-slider:hover { color: #222222; text-decoration: none; }
.nav-button.bar, .nav-button-slider.bar { width: 100%; }
@media screen and (max-width: 48em) { .nav-button, .nav-button-slider { display: block; } }

@media screen and (max-width: 48em) { .touch ul.nav-collapse { display: none; } }
@media screen and (max-width: 48em) { .touch .nav-button { display: block; } }

li.has-flyout > .flyout { display: none; position: absolute; top: 100%; left: 0; padding: 0; z-index: 2000; }
@media screen and (max-width: 48em) { li.has-flyout > .flyout { width: 100%; float: none; position: relative; } }
li.has-flyout > .flyout li { display: block; padding: 2px 0px; z-index: 2000; float: none; text-align: left; white-space: nowrap;}
@media screen and (max-width: 48em) { li.has-flyout > .flyout li { background: none; } }
li.has-flyout > .flyout li a { display: block; padding: 8px 4px; }
@media screen and (max-width: 48em) { li.has-flyout > .flyout li a { padding: 8px 0px; } }
li.has-flyout > .flyout ul { display: none; left: 100%; top: 0; z-index: 2000; }
@media screen and (max-width: 48em) { li.has-flyout > .flyout ul { left: 0; } }
/*li.has-flyout > a:first-child { padding-right: 44px; }*/
li.has-flyout > a span.textmenu_link > i { position: absolute; background: transparent !important; border: none; width: auto; right: 13px; z-index: 22; }
li.has-flyout.is-touch > a:first-child { padding-right: 55px; }

@media screen and (max-width: 48em) { .flyout-toggle { top: 20px !important; }
  .fifty-fifty ul li { width: 50%; }
  .fifty-fifty ul li ul.flyout li { width: 100%; } }
@media screen and (max-width: 48em) and (max-width: 30em) { .fifty-fifty ul li { width: 100%; } }

.touch .infinity-scroll { width: 97%; margin: 10px auto; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #d7d7d7; background: #efefef; -moz-box-shadow: 1px 1px 2px #d7d7d7 inset; -webkit-box-shadow: 1px 1px 2px #d7d7d7 inset; box-shadow: 1px 1px 2px #d7d7d7 inset; overflow: auto; position: relative; min-height: 65px; }
.touch .infinity-scroll ul { position: absolute; top: 30%; width: auto; display: inline; white-space: nowrap; }
.touch .infinity-scroll ul li { float: none; display: inline; padding-top: 0; padding-bottom: 0; }
.touch .infinity-scroll ul li:last-child { padding-right: 35px; }

@media screen and (max-width: 48em) { .nav-collapse { display: none; overflow: invisible; clear: both; }
  .select-nav { display: none; } }
.tinynav { display: none; }
@media screen and (max-width: 48em) { .tinynav { display: block; } }

.vertical { padding: 0; }
.vertical > ul > li { display: block; float: none; }
.vertical li.has-flyout > .flyout { left: 100%; top: 0; }
@media screen and (max-width: 48em) { .vertical li.has-flyout > .flyout { left: 0; } }

.footer-nav { padding: 0; }
.footer-nav ul { display: block; }
.footer-nav ul li { float: left; padding: 0; }
@media screen and (max-width: 30em) { .footer-nav ul li { float: none; display: block; width: 100%; color: red; display: block; } }

@media screen and (max-width: 30em) { .footer-nav ul li { float: none; width: auto; display: block; }
  .mobile-fifty-fifty ul li { width: 50%; }
  .mobile-fifty-fifty ul li ul.flyout li { width: 100%; } }
.tabs { margin-bottom: 20px; }
.tabs > li { float: left; line-height: 20px; margin-bottom: 7px; }
.tabs > li > a { padding: 8px 12px; line-height: 20px; }
.tabs > li > a:hover { text-decoration: none; background-color: #eee; }
.tabs:before, .tabs:after { display: table; line-height: 0; content: ""; clear: both; }
.tabs > .active a, .tabs > .active a:hover { background: #eee; text-decoration: none; }

.left-tabs .tabs { float: left; background: white; margin-right: 1em; }
.left-tabs .tabs > li { float: none; }
.left-tabs:before, .left-tabs:after { display: table; line-height: 0; content: ""; clear: both; }

.right-tabs .tabs { float: right; background: white; margin-left: 1em; }
.right-tabs .tabs > li { float: none; }
.right-tabs:before, .right-tabs:after { display: table; line-height: 0; content: ""; clear: both; }

.tab-content { overflow: auto; }
.tab-content > .pane { display: none; }
.tab-content > .active { display: block; }

@media screen and (max-width: 48em) { .tablet-do-nothing ul { height: auto; }
  .tablet-do-nothing ul li { float: left; width: auto; }
  .tablet-do-nothing ul li a { font-size: 80%; }
  .tablet-buttons ul { height: auto; }
  .tablet-buttons ul li { float: none; }
  .tablet-buttons ul li a { width: 100%; display: block; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); }
  .tablet-buttons ul li a:hover { -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  .tablet-buttons ul li a:active { -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); } }
@media screen and (max-width: 30em) { .tablet-do-nothing ul li { float: none; width: 100%; }
  .tablet-do-nothing ul li a { font-size: 100%; }
  .mobile-buttons ul { height: auto; }
  .mobile-buttons ul li a { width: 100%; display: block; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); }
  .mobile-buttons ul li a:hover { -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  .mobile-buttons ul li a:active { -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0); } }
.right-menu-container, .left-menu-container, .top-menu-container, .bottom-menu-container { position: fixed; display: none; margin: 0; overflow-y: auto; }

.right-menu-container { width: 80%; height: 100%; margin-left: 100%; }

.left-menu-container { width: 80%; height: 100%; margin-left: -100%; }

.top-menu-container { width: 100%; margin-top: -100%; }

.bottom-menu-container { width: 100%; margin-top: 100%; overflow-y: auto; }

.fromRight, .fromLeft, .fromTop, .fromBottom { overflow: hidden; }

.fromRight .container, .fromLeft .container, .fromTop .container, .fromBottom .container { position: absolute; }
.fromRight .container { margin-left: -80%; width: 100%; float: left; }
.fromLeft .container { margin-left: 80%; width: 100%; float: left; }
.fromTop .container { margin-top: 45%; width: 100%; }

.fromRight .right-menu-container { display: block; }

.fromLeft .left-menu-container { display: block; }

.fromTop .top-menu-container { display: block; height: 45%; margin-left: 0; width: 100%; overflow-y: auto; }

.fromBottom .bottom-menu-container { bottom: 0; width: 100%; display: block; background: white; z-index: 2000; overflow-y: auto; -moz-box-shadow: -1px -1px 5px #555555; -webkit-box-shadow: -1px -1px 5px #555555; box-shadow: -1px -1px 5px #555555; }

.no-js .nav-collapse { display: block; }
.no-js li.has-flyout:hover > ul.flyout { display: block; }

/************************ Modal Styles ***********************/
.modal-box { display: none; visibility: hidden; top: 100px; left: 50%; position: absolute; margin-left: -260px; width: 520px; z-index: 320; background: #dedede; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
.modal-box .modal-header { padding: 9px 15px; }
.modal-box .modal-header .close { float: right; color: #222222; -moz-text-shadow: 1px 1px 5px white; -webkit-text-shadow: 1px 1px 5px white; text-shadow: 1px 1px 5px white; opacity: 0.3; }
.modal-box .modal-header .close:hover { cursor: pointer; opacity: 0.7; }
.modal-box .modal-header button.close { background: transparent; border: none; }
.modal-box .modal-body { padding: 9px 15px; }
.modal-box .modal-footer { padding: 9px 15px 15px 15px; }

.curtain { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #000; background-color: rgba(0, 0, 0, 0.5); display: none; }

/************************ Tooltip Styles *********************/
.tooltip-inner { max-width: 250px; padding: 3px 8px; color: #ffffff; text-align: center; text-decoration: none; background-color: #000000; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }

.tooltip { position: absolute; z-index: 1000; display: block; padding: 5px; font-size: 80%; opacity: 0; visibility: visible; margin: 6px; }
.tooltip.north .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-color: #000000; border-width: 5px 5px 0; }
.tooltip.east .tooltip-arrow { left: 0; top: 50%; margin-top: -5px; border-right-color: #000000; border-width: 5px 5px 5px 0; }
.tooltip.south .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-bottom-color: #000000; border-width: 0 5px 5px; }
.tooltip.west .tooltip-arrow { right: 0; top: 50%; margin-top: -5px; border-left-color: #000000; border-width: 5px 0 5px 5px; }

/************************ Popover Styles *********************/
.popover-content { max-width: 250px; color: #222; text-align: center; margin: 6px; padding: 6px 16px; text-decoration: none; background-color: #dedede; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dedede)); background-image: -webkit-linear-gradient(top, white, #dedede); background-image: -moz-linear-gradient(top, white, #dedede); background-image: -ms-linear-gradient(top, white, #dedede); background-image: -o-linear-gradient(top, white, #dedede); background-image: linear-gradient(top, bottom, white, #dedede); -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.popover-arrow { position: absolute; width: 0; height: 0; border-color: transparent; margin-left: -10px; border-style: solid; }

.popover { position: absolute; z-index: 1000; display: block; padding: 0px; font-size: 80%; opacity: 0; visibility: visible; margin: 0px; -o-border-radius: 8px; -ms-border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -moz-box-shadow: -1px 1px 2px white inset; -webkit-box-shadow: -1px 1px 2px white inset; box-shadow: -1px 1px 2px white inset; background: #222; }
.popover.north .popover-arrow { bottom: -10px; left: 50%; margin-left: -10px; border-top-color: #222; border-width: 10px 10px 0; z-index: 2; }
.popover.east .popover-arrow { left: 0; top: 50%; margin-top: -10px; border-right-color: #222; border-width: 10px 10px 10px 0; }
.popover.south .popover-arrow { top: -9px; left: 50%; margin-left: -10px; border-bottom-color: #222; border-width: 0 10px 10px; }
.popover.west .popover-arrow { right: 0; top: 50%; margin-top: -10px; margin-right: -8px; border-left-color: #222; border-width: 10px 0 10px 10px; }

/************************ Helper Styles **********************/
img { max-width: 100%; width: auto\9; height: auto; vertical-align: middle; border: 0; -ms-intepolation-mode: bicubic; }
img.round { -o-border-radius: 500px; -ms-border-radius: 500px; -moz-border-radius: 500px; -webkit-border-radius: 500px; border-radius: 500px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
img.framed { padding: 4px; border: 1px solid #eee; background: #fff; margin: 1px; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

.right { float: right; }
.right:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.left { float: left; }
.left:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

@media screen and (max-width: 48em) { .tablet-right { display: inline; float: right; }
  .tablet-right:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
  .tablet-left { display: inline; float: left; }
  .tablet-left:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
  .tablet-clear { float: none; display: block; } }
@media screen and (max-width: 30em) { .mobile-right { display: inline; float: right; }
  .mobile-right:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
  .mobile-left { display: inline; float: left; }
  .mobile-left:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
  .mobile-clear { float: none; display: block; } }
.hide { display: none !important; visibility: hidden !important; }

footer { padding-top: 10px; clear: both; }

.super-header { margin-top: 0px; width: 100%; }
.super-header h1 { font-size: 3.39787em; }
.super-header h2 { font-size: 2.8315em; }

.panel { -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #eee; padding: 18px !important; border: 1px solid #e3e3e3; -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); margin: 5px 0; }

.centered { margin-left: auto; margin-right: auto; }

.inline { display: inline; }

.social-media { display: inline; margin-top: 10px; }
.social-media li { display: inline; padding: 2px; }

@media screen and (min-width: 49em) { .desktop-hide { display: none !important; visibility: hidden !important; padding: 0; margin: 0; } }
@media screen and (max-width: 49em) { .tablet-hide { display: none !important; visibility: hidden !important; }
  .tablet-hide + div, .tablet-hide + span, .tablet-hide + table, .tablet-hide + caption, .tablet-hide + tr, .tablet-hide + th, .tablet-hide + td, .tablet-hide + article, .tablet-hide + aside, .tablet-hide + figure, .tablet-hide + figcaption, .tablet-hide + footer, .tablet-hide + header, .tablet-hide + hgroup, .tablet-hide + menu, .tablet-hide + nav, .tablet-hide + section, .tablet-hide + summary { margin-left: 0 !important; }
  .tablet-centered { margin-left: auto; margin-right: auto; }
  .tablet-no-float { float: none; } }
@media screen and (max-width: 30em) { .mobile-hide { display: none !important; visibility: hidden !important; }
  .mobile-hide + div, .mobile-hide + span, .mobile-hide + table, .mobile-hide + caption, .mobile-hide + tr, .mobile-hide + th, .mobile-hide + td, .mobile-hide + article, .mobile-hide + aside, .mobile-hide + figure, .mobile-hide + figcaption, .mobile-hide + footer, .mobile-hide + header, .mobile-hide + hgroup, .mobile-hide + menu, .mobile-hide + nav, .mobile-hide + section, .mobile-hide + summary { margin-left: 0 !important; }
  .mobile-centered { margin-left: auto; margin-right: auto; }
  .mobile-no-float { float: none; } }
@media screen and (min-width: 31em) { .mobile-only { display: none !important; visibility: hidden !important; }
  .mobile-only + div, .mobile-only + span, .mobile-only + table, .mobile-only + caption, .mobile-only + tr, .mobile-only + th, .mobile-only + td, .mobile-only + article, .mobile-only + aside, .mobile-only + figure, .mobile-only + figcaption, .mobile-only + footer, .mobile-only + header, .mobile-only + hgroup, .mobile-only + menu, .mobile-only + nav, .mobile-only + section, .mobile-only + summary { margin-left: 0 !important; } }
.half { width: 49.15254%; float: left; margin-left: 1.69492%; display: inline; }
@media screen and (max-width: 49em) { .half { float: none; display: block; margin: 5px 0; width: 100%; } }

.one-third { width: 33.333333333%; float: left; }
@media screen and (max-width: 49em) { .one-third { float: none; display: block; width: 100%; } }

.two-thirds { width: 66.666666666%; float: left; }
@media screen and (max-width: 49em) { .two-thirds { float: none; display: block; width: 100%; } }

.one-fourth { width: 25%; float: left; }
@media screen and (max-width: 49em) { .one-fourth { float: none; display: block; width: 100%; } }

.three-fourths { width: 75%; float: left; }
@media screen and (max-width: 49em) { .three-fourths { float: none; display: block; width: 100%; } }
